.nav {
    display: flex;
    justify-content: center;
}

.nav > a {
    text-decoration: none;
}

.navbarA {
    position: absolute;
    left: 50px;
    top: 40px;
    text-decoration: none;
}

.buttonColor {
    position: absolute;
    right: 70px;
    top: 45px;
    background-color: transparent;
    cursor: pointer;
}
