.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}

.display section {
    display: flex;
}

.timer, .twoPoints {
    font-size: 12rem;
    color: #0D278E;
    text-shadow: 1px 1px 3px white;
}

.timer {
}

.twoPoints {
}